body{
    padding: 0;
    margin: 0;
}

.container-pan1{
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    /* padding-top: 200px; */
}

.bar1,
.bar9{
    width: 200px;
    height: 30px;
    background-color: lightgray;
}

#bar1{
    grid-area: 8 / 25 / 9 / 40;
}

#bar9{
    grid-area: 21 / 25 / 22 / 40;
}

.bar2,
.bar8{
    width: 280px;
    height: 30px;
    background-color: lightgrey;
}

#bar2{
    grid-area: 10 / 25 / 9 / 40;
}

#bar8{
    grid-area: 20 / 25 / 21 / 40;
}

.bar3,
.bar7{
    width: 360px;
    height: 30px;
    background-color: lightgrey;
}

#bar3{
    grid-area: 11 / 25 / 10 / 40;
}

#bar7{
    grid-area: 19 / 25 / 20 / 40;
}

.bar4,
.bar6{
    width: 440px;
    height: 90px;
    background-color: lightgrey;
}

#bar4{
    grid-area: 11 / 25 / 13 / 40;
}

#bar6{
    grid-area: 16 / 25 / 19 / 40;
}

.bar5{
    width: 520px;
    height: 120px;
    background-color: lightgrey;
}

#bar5{
    grid-area: 13 / 25 / 16 / 40;
}

.bar10{
    width: 60px;
    height: 220px;
    background-color: lightgrey;
    grid-area: 22 / 25 / 26 / 40;
}

.water{
    /* display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid; */
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    z-index: 2;

}

#water-pan-1{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 1 / 29 / 2 / 30;
    padding-left: 1%;
    
}
#water-pan-2{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 2 / 29 / 3 / 30;
    padding-left: 40%;
}
#water-pan-3{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 3 / 29 / 4 / 30;
    padding-left: 35%;
}
#water-pan-4{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 4 / 29 / 5 / 30;
    padding-left: 40%;
}
#water-pan-5{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 5 / 29 / 6 / 30;
    padding-left: 75%;
}
#water-pan-6{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 6 / 29 / 7 / 30;
    padding-left: 35%;
}
#water-pan-7{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 7 / 29 / 8 / 30;
    padding-left: 70%;
}
#water-pan-8{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 8 / 29 / 9 / 30;
    padding-left: 80%;
}
#water-pan-9{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 9 / 29 / 10 / 30;
    padding-left: 80%;
}
#water-pan-10{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 10 / 29 / 11 / 30;
    padding-left: 90%;
}
#water-pan-11{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 11 / 29 / 12 / 30;
    padding-left: 80%;
}
#water-pan-11{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 11 / 29 / 12 / 30;
    padding-left: 80%;
}#water-pan-12{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 12 / 29 / 13 / 30;
    padding-left: 110%;
}
#water-pan-13{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 13 / 29 / 14 / 30;
    padding-left: 110%;
}
#water-pan-14{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 14 / 29 / 15 / 30;
    padding-left: 130%;
}
#water-pan-15{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 15 / 29 / 16 / 30;
    padding-left: 70%;
}
#water-pan-16{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 16 / 29 / 17 / 30;
    padding-left: 80%;
}
#water-pan-17{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 17 / 29 / 18 / 30;
    padding-left: 80%;
}
#water-pan-18{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 18 / 29 / 19 / 30;
    padding-left: 70%;
}
#water-pan-19{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 19 / 29 / 20 / 30;
    padding-left: 100%;
}
#water-pan-20{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 20 / 29 / 21 / 30;
    padding-left: 60%;
}
#water-pan-21{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 21 / 29 / 22 / 30;
    padding-left: 60%;
}
#water-pan-22{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 22 / 29 / 23 / 30;
    padding-left: 55%;
}
#water-pan-23{
    font-weight: bold;
    text-wrap: nowrap;
    grid-area: 23 / 29 / 24 / 30;
    padding-left: 75%;
}

/* .filler{
    width: 60px;
    height: 200px;
    background-color: white;
    grid-area: 2 / 12 / 3 / 27;
} */
